<div id="shell-setup"> {% comment %} Start of 'shell' section. {% endcomment %}
  <h3>The Bash Shell</h3>
  <p>
    Bash is a commonly-used shell that gives you the power to do simple tasks
    more quickly. Please find setup instructions in
    the <a href="https://nyu-dataservices.github.io/lc-shell/setup.html">lesson</a>.
  </p>
</div>

<div id="python-setup">
 <h3>Python</h3>
<p>
  The setup instructions for the Library Carpentry Python 
  can be found at <a href="https://librarycarpentry.org/lc-python-intro/setup.html">
  the workshop overview site</a>, as well as an additional Python library
  required by the web scraping lesson, found at 
  <a href="https://librarycarpentry.org/lc-webscraping/setup.html">that lesson's overview site</a>.
</p>
